
<div class="container-fluid">
  <div class="container-fluid text-center">
    <h1>
      <%= image_tag("sicklogo3.png")%>
    </h1>
  </div>
</div>


<div class="container">
    <div class="row">
         <p class="lead">Social Media Marketing is the most cost-efficient digital marketing method. Implementing a social media strategy will greatly increase your brand recognition, by engaging your brand with an audience of consumers.</p>
         <p>
          <a class="btn btn-lg btn-success" href="tel: 1 312 371 4138" role="button">Get started today</a></p>
    </div>
</div>

<div class="container-fluid text-center">
  <%= image_tag("graphs.png") %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>More Inbound TRAFFIC
      </h2>
      <p>Customers are searching for you. Utilizing social media as part of your marketing strategy, will enable you to reach anyone outside of your loyal customer circle. Every social media outlet you add to your marketing is a gateway to your website, and every piece of content created is another opportunity to acquire a new customer.
      </p>
        <div class="col-sm-6">
          <picture><%= image_tag("socialmedia.jpg")%></picture>
        </div>
 
      </div>
        <div class="col-lg-4">
          <h2>High Conversion Rates on Ads</h2>
          <p>With increased visibility, your business gains more opportunities for conversion. Every Blog post, image, video, or comment leads viewers to your company. When your business is interactive online, consumers trust the credibility of your business.</p>
          <h1 class="text-center"><a href="#" class="fa fa-facebook"><a href="#" class="fa fa-instagram"><a href="#" class="fa fa-youtube"></a></a></a></h1>
       </div>
        <div class="col-lg-4">
          <h2>Cost Effective</h2>
          <p>Millennial are the most brand loyal customers of all. Born between the early 1980’s and the early 2000’s, millennials are the largest generation in US history – and will soon completely consume the market. Once you obtain a few satisfied customers who are vocal about their positive purchase experience, you can let the advertising be done for you by actual customers who enjoyed your product or service.</p>
          <div class="col-sm-6 text-right">
         <picture class="alig"><%= image_tag("amazon.png")%></picture>
      </div>  
        </div>
      </div>
  
    </div>
   </div>

</div>


  <div class="container-fluid">

    <div class="container-fluid">
      <div class="jumbotron text-center">
        
          <p class="lead text-muted">
            Wether you are an already established brand, or just stepping your foot into the playing field. PFJ will grow your brand and digital awareness. TAKE ACTION! space is limited.
          </p>
          <h2 class="jumbotron-heading">
          Contact: 
          </h2>
          <p>
            <a href="tel:1-312-371-4138", class="btn btn-primary my-2" > 1 312 371 4138</a>
            <a href="email:pulsefirejob@gmail.com", class="btn btn-secondary my-2">pulsefirejob@gmail.com</a>
          </p>
        </div>
      </div>

    </div>
</div>


      
